li.dev-item {
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    padding: 20px;
}

li.dev-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

li.dev-item header .dev-info {
    margin-left: 10px;
}

li.dev-item p {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

li.dev-item a {
    color: #AC3B61;
    font-size: 14px;
    text-decoration: none;
}

li.dev-item a:hover {
    color: rgb(168, 41, 83);
}